#footer {
  border-top: 1px solid $gray;

  .container {
    border: none;
  }

  .footer_content {
    @include adaptive-value("padding-top", 40, 20, 1);
  }

  .foooter_top {
    @include adaptive-value("margin-bottom", 40, 20, 1);
  }

  .foooter_top_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  .footer_logo{
    @include adaptive-value('width', 91, 57, 1);
    @include adaptive-value('height', 120, 74, 1);
  }

  .column_title {
    color: $black_25;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .column_item,
  .column_link {
    color: $gray;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .column_1 {
    .column_item {
      text-transform: uppercase;
    }
  }

  .column_2 {
    .column_item {
      display: flex;
      align-items: center;
      gap: 12px;

      @include media('<phone'){
        align-items: flex-start;
      }

      svg {
        fill: $orange;
      }
    }
  }

  .footer_bottom {
    border-top: 1px solid $gray;
    padding: 22px;
  }

  .footer_bottom_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<phone'){
        flex-direction: column;
        row-gap: 20px;
    }
  }

  .copyright {
    color: $gray;
    font-size: 12px;
    line-height: 166%;
  }
}
