<header id="header">
  <div class="container">
    <div class="header_content">
      <div class="logo">
        <img src="./images/logo.webp" alt="logo" />
      </div>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="#">про нас</a></li>
          <li class="menu_item"><a class="menu_link" href="#">отримати консультацію та допомогу</a></li>
          <li class="menu_item"><a class="menu_link" href="#">контакти</a></li>
        </ul>
      </nav>
      <div class="burger_menu">
        <span></span>
      </div>
    </div>
  </div>
</header>
